<h2 class="about is-size-1-touch"> About the project: </h2>
<p class="is-size-2-touch">Using <a href="https://en.wikipedia.org/wiki/Collaborative_filtering" target="_blank">collaborative filtering</a>, this <a href="https://en.wikipedia.org/wiki/Recommender_system" target="_blank">recommendation system</a> is builded on Ruby on Rails.</p>
<p class="is-size-2-touch">As example was used series that were extracted using a web crawler made in Scrapy to get every single serie from 1980 to today from IMDB. (01 march 2019)</p>
<br/>
<p class="is-size-2-touch">You can find more about this project in: <a href="https://github.com/raicg" target="_blank">RaiCG Github Page</a></p>
