<h2 class="instructions is-size-2-touch">Instructions:</h2>
<p class="is-size-3-touch">On the upside menu, select Recommendations and then New Recommendations;</p>
<p class="is-size-3-touch">After that you need to search for your favorites items;
<p class="is-size-3-touch">Then click on the desired item and use the buttons on the new opened page to make your rating.</p>

<p class="is-size-3-touch">The more items you evaluated, the better will be the recommendations.</p>
