<div class="column is-12">
  <p class="is-size-5-desktop is-size-2-touch">You need to login to use the Recommendation System</p>
</div>
<br/>
<div class="column is-8 is-offset-2">
  <%= link_to "LOGIN", new_user_session_path, class: "button is-normal is-size-2-touch is-outlined is-white" %>
</div>
<br/>
<div class="column is-8 is-offset-2">
  <%= link_to "REGISTER", new_user_registration_path, class: "button is-normal is-size-2-touch is-outlined is-white" %>
</div>

